{% extends "base.html" %}

{% block content %}
<div class='row'>
	<div class='col-sm-6 col-sm-offset-3'>
		<h2 class="text-align-center"><strong>Mi proyecto</strong></h2><hr/>
		<p class="lead text-align-center">Esta es mi primera aplicación web</p>
		<p class="text-align-center">Esta es una línea</p>
		<p class="text-align-center">Y esta otra</p>
		<p class="text-align-center">Y esta otra</p>
		<p class="text-align-center">Y esta otra</p>
		<p class="text-align-center">Y esta otra</p>
		<p class="text-align-center">Y esta otra</p>
		<p class="text-align-center">Y esta otra</p>
	</div>
</div>


{% endblock %}