{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Bienvenidos a | {% endblock %}

{% block jumbotron_content %}
<div class="row">
    <div class="col-sm-6">
        <h1>Probar Django 1.10</h1>
        <p>Proyecto para principiantes donde el objetivo es construir una página web simple y a la par que elegante en muy poco tiempo</p>
        <p>
        <a class="btn btn-lg btn-primary" href="/docs/5.1/components/navbar/" role="button">Unirse&raquo;</a>
        </p>
    </div>
    <div class="col-sm-6" style="background-color: black; height: 300px;"></div>
</div> 
        {% endblock %}

{{ titulo }} <br/>
{{ request.user }}
<hr/>
<br/>

{% block content %}
<div class="row">
    <div class="col-sm-3 col-xs-12 pull-right">
        <p class="lead text-align-center">{{ titulo }}</p>
        <form method="POST" action="">{% csrf_token %}
        {{ el_form|crispy }}
        <input class="btn btn-primary" type="submit" value="Inscribirse" />
        </form>
    </div>
    <div class='col-sm-3'>
        <p class="lead text-align-center" >Django &amp; Bootstrap.</p>
    </div>
    <div class='col-sm-3'>
        <p class="lead text-align-center">Con paciencia</p>
    </div>
    <div class='col-sm-3'>
        <p class="lead text-align-center">Se hará un buen trabajo</p>
    </div>
</div>
<hr/>
{% endblock %}


