{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}Bienvenidos a | {% endblock %}

<style> 
{% block style %}
.jumbotron {
  background-color: #610F01 !important;
  color: #FFF !important;
}

{% endblock %}
</style>

{% block jumbotron %}

{% if request.user.is_staff %}
<div class='container'>
<table class='table'>
  {% for instance in queryset %}
  <tr><td>{{ instance }}</td><td>{{ instance.nombre }}</td><td>hace {{ instance.timestamp|timesince }}</td></tr><br/>
  {% endfor %}
</table>
</div>
{% else %}

        <div class="jumbotron">
        <div class="container">
        <div class='row'>
          <div class='col-sm-6'>
                <h2><strong>Probar Django 1.10</strong></h2>
                <p>Un proyecto para principiantes. El objetivo es construir una página web simple a la par que elegante en muy poco tiempo</p>
                <p>
                  <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Unirse &raquo;</a>
                </p>
          </div>
        <div class='col-sm-6'><iframe width="560" height="315" src="https://www.youtube.com/embed/vAqvbLs77xE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        </div>
        </div>
        </div>
{% endif %}
{% endblock %}

{{ titulo }} <br/>
{{ request.user }}
<hr/>
<br/>

{% block content %}
<div class="row">
    <div class="col-sm-3 col-xs-12 pull-right">
        <p class="lead text-align-center">Suscribirse</p>
        <form method="POST" action="">{% csrf_token %}
        {{ el_form|crispy }}
        <input class="btn btn-primary" type="submit" value="Recibir" />
        </form>
    </div>
    <div class='col-sm-3'>
        <p class="lead text-align-center" >Django &amp; Bootstrap.</p>
    </div>
    <div class='col-sm-3'>
        <p class="lead text-align-center">Con paciencia</p>
    </div>
    <div class='col-sm-3'>
        <p class="lead text-align-center">Se hará un buen trabajo</p>
    </div>
</div>
<hr/>
{% endblock %}


